@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container p {
    font-size: 5vh;
    margin-top: -20%;
    margin-bottom: 50%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: url("./background-image.jpg") no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    height: 90vh;
}

.input-group{
    margin: 6%;
}


#Username {
    background-color: rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    padding: 5%;
    outline: none;
    border: none;
    margin-bottom: 1%;
    border-radius: 10px;
    
}


#Password {
    background-color: rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    padding: 5%;
    outline: none;
    border: none;
    border-radius: 10px;
}

#username-label {
  top: 47%;
  left: 25%;
  transition: transform 0.3s ease-in-out;
  opacity: 30%;  
  pointer-events: none;
}


#password-label {
  top: 59%;
  left: 25%;
  transition: transform 0.3s ease-in-out;
  opacity: 30%;  
  pointer-events: none;
}

.input-group label {
    font-size: 2vh;
    position: absolute;

}


.button-2 {
  background-color: rgba(242, 197, 229, 0.15);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-top: 20px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.container {
    width: 400px;
    height: 500px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
